#marquee {
    width: 100%;
    height: 50px;
    background: #fefefe;
    color: #333;
    position: absolute;
    overflow-x: hidden;
    border: 1px solid #4a4a4a;
}

.marqueeText {
    width: 100%;
    animation: scroll-right 10s linear infinite;
}

#powerup {
    position: absolute;
}

.power  {
    position: absolute;
}

#power1 {
    position: absolute;
    white-space: nowrap;
    display: inline-block;
}
